:root {
    --fontcolor: #272044;
    --lucidagrande: Lucida Grande,
        Lucida Sans Unicode,
        Lucida Sans,
        Geneva,
        Verdana,
        sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 64px;
}

.img-responsive {
    width: 100%;
    display: block;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.embed {
    width: 100%;
    aspect-ratio: 1 /1;
}

.instagram-embeds {
    margin: 30px 0;
}

.card {
    background: white;
    margin: 30px 0;
}

.card-header.grid {
    grid-gap: 0;
}

.card-body {
    padding: 30px;
}

.card-footer {
    padding: 0 30px 30px;
}

.btn {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px;
    background-color: #462cb3;
    text-decoration: none;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

section.secondary {
    background: #f8f8f8;
}




h1 {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
    font-size: 66px;
}

main {
    background-color: rgb(200, 189, 206);
}

main h2 {
    font-size: 26px;
    letter-spacing: 5px;
    line-height: 1.5;
    color: var(--fontcolor);
}

main h3 {
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 1.5;
    color: var(--fontcolor);
}

main p {
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 1.5;
    color: var(--fontcolor);
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

section.history {
    padding: 70px 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

section.history img {
    max-width: 500px;
    border-radius: 3px;

}


.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 1fr 1fr;


}


.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.img-responsive {
    max-width: 100%;
    display: block;
}


.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.img-responsive {
    width: 100%;
    display: block;
}


header {
    max-width: 1900px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(253, 253, 253, 0.6), rgba(253, 253, 253, 0.6)), url(../images/headerpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 140px 0;
    text-align: center;
    color: rgb(64, 56, 105);
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #272044;
    padding: 16px 32px;
    margin-top: 32px;
    display: inline-block;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: white;
}

footer h3 {
    color: var(--fontcolor1);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}

footer p {
    color: var(--fontcolor);
    font-family: var(--lucidagrande);
    font-size: 16px;
    line-height: 24px;
}

footer li {
    list-style: none;
}

footer a {
    color: var(--fontcolor);
    opacity: 0.7;
}

footer {
    color: #272044;
    background-image: linear-gradient(rgba(253, 253, 253, 0.6), rgba(253, 253, 253, 0.6)), url(../images/istanbulfooter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--lucidagrande);


}


@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section {
        padding: 30px;
    }

    .card-header img {
        display: none;
    }

    .embed {
        aspect-ratio: 16 / 9;
    }
}